/*reset*/
* {
	padding: 0;
	margin:	0;
	box-sizing: border-box;
}

/* general rules*/

#mainheader{
		background-color: #EA9828;
		min-height: 10vh; 				/* vertical heigh*/
		font-family: 'Roboto Condensed', sans-serif;
}


/*combinator*/
#mainheader div {
	height: 100%;
	width:	50%;
	float: left;
}
/* cascading style to deeper level*/
#mainheader > div > h2 {
	line-height: 10vh;
	margin-left: 15px;
}

#mainheader > div > h2 > a {
	color: black;
	text-decoration: none;
}
/* special selector*/
#mainheader > div:last-child > ul {

	list-style: none;
	text-align: right;

}

#mainheader > div:last-child > ul > li {
	display: inline;
	line-height: 10vh;
	margin-right: 15px;
}
#mainheader > div:last-child > ul > li > a {
	text-decoration: none;
	color: black;
}
body{
	background-color: 323232;
}

#wrapper {
	background-color: black;
	width: 80%;
	margin: 0 auto; /* margin auto margins for left and right*/
	min-height: 100vh;
	padding: 25px;
}

#wrapper h1 {
	color: white;
	text-align: center;
	padding-bottom: 10px;
}

#wrapper img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#wrapper > ul {
	list-style: none;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;

}
#wrapper > ul > li 	{
	display: inline;
	line-height: 5vh;
	margin-right: 15px;
	/*background-color: #FF8A33;*/
}

#wrapper > ul > li > a {
	text-decoration: none;
	color: #14DB36;
}

#mainfooter {
	line-height: 3vh;
	text-align: center;
	background-color: #FF8A33;

}
}
